@use '../../../global' as *;

/*===============================================
footer
===============================================*/
.bl_footer {
   background-color: $color-key;
   padding: $spacing-32 0;
   width: 100%;
}
.bl_footerCopyright {
   color: $color-wh;
   display: block;
   font-size: $fontsize-14;
   text-align: center;
}
