@use "../global" as *;

/*===============================================
asterisk
===============================================*/
.hp_asterisk {
   position: relative;

   &:after {
      color: red;
      content: "*";
      line-height: 1;
      @include absolute(0, auto, auto, -10px);
   }
}

/*===============================================
iframe
===============================================*/
.hp_iframeWrapper {
   width: 100%;
   position: relative;

   iframe {
      @include absolute(0, 0, 0, 0);
      width: 100%;
      height: 100%;
   }
}

.hp_iframeWrapper {
   &.__16-9 {
      padding-top: $r-16-9;
   }
   &.__square {
      padding-top: $r-square;
   }
}
