@use "../../global" as *;

/*===============================================
button
===============================================*/
.el_btn {
   color: $color-wh;
   background-color: $color-key;
   border: $border-2 solid $color-key;
   font: {
      size: $fontsize-16;
      weight: 700;
   }
   width: $spacing-120;
   line-height: $spacing-64;
   height: $spacing-64;
   text-align: center;
}
