@use "../../global" as *;

/*===============================================
heading
===============================================*/
.el_headingBlock {
   &_title {
      font-size: $fontsize-3;
      @include lineHeightCrop($leading-normal);
      line-height: $leading-normal;
   }

   &.__center {
      text-align: center;
   }

   &.__left {
      text-align: left;
   }

   &.__fff {
      > * {
         color: #fff !important;
      }
   }
}

//margin
.el_headingBlock {
   > *:last-child {
      margin-bottom: 0 !important;
   }

   //marginBottom
   &.__mbLv1 {
      margin-bottom: $spacing-1;
   }
   &.__mbLv2 {
      margin-bottom: $spacing-2;
   }
   &.__mbLv3 {
      margin-bottom: $spacing-3;
   }
   &.__mbLv4 {
      margin-bottom: $spacing-4;
   }
   &.__mbLv5 {
      margin-bottom: $spacing-5;
   }
   &.__mbLv6 {
      margin-bottom: $spacing-6;
   }
   &.__mbLv7 {
      margin-bottom: $spacing-7;
   }
   &.__mbLv8 {
      margin-bottom: $spacing-8;
   }
}
