@use "../../global" as *;

/*===============================================
heading
===============================================*/
.el_headingBlock {
   &_title {
      font-size: $fontsize-32;
      @include lineHeightCrop($leading-17);
      line-height: $leading-17;
   }

   &.__center {
      text-align: center;
   }

   &.__left {
      text-align: left;
   }

   &.__fff {
      > * {
         color: $color-wh !important;
      }
   }
}

//margin
.el_headingBlock {
   > *:last-child {
      margin-bottom: 0 !important;
   }

   //marginBottom
   &.__mbLv16 {
      margin-bottom: $spacing-16;
   }
   &.__mbLv24 {
      margin-bottom: $spacing-24;
   }
   &.__mbLv32 {
      margin-bottom: $spacing-32;
   }
   &.__mbLv40 {
      margin-bottom: $spacing-40;
   }
   &.__mbLv56 {
      margin-bottom: $spacing-56;
   }
   &.__mbLv64 {
      margin-bottom: $spacing-64;
   }
   &.__mbLv72 {
      margin-bottom: $spacing-72;
   }
   &.__mbLv80 {
      margin-bottom: $spacing-80;
   }
}
