@use '../../global' as *;

/*===============================================
textBlock
===============================================*/
.el_textBlock {
   &_title {
      font-size: $fontsize-64;
      font-weight: bold;
      line-height: $leading-16;
      @include lineHeightCrop($leading-16);
   }

   &_text {
      font-size: $fontsize-16;
      line-height: $leading-16;
      @include lineHeightCrop($leading-16);
   }

   &.__center {
      text-align: center;
   }

   &.__left {
      text-align: left;
   }

   &.__fff {
      > * {
         color: $color-wh !important;
      }
   }
}

//margin
.el_textBlock {
   > *:last-child {
      margin-bottom: 0 !important;
   }

   .el_textBlock {
      &_title {
         margin-bottom: $spacing-24;
      }
   }

   //marginBottom
   &.__mbLv16 {
      margin-bottom: $spacing-16;
   }
   &.__mbLv24 {
      margin-bottom: $spacing-24;
   }
   &.__mbLv32 {
      margin-bottom: $spacing-32;
   }
   &.__mbLv40 {
      margin-bottom: $spacing-40;
   }
   &.__mbLv56 {
      margin-bottom: $spacing-56;
   }
   &.__mbLv64 {
      margin-bottom: $spacing-64;
   }
   &.__mbLv72 {
      margin-bottom: $spacing-72;
   }
   &.__mbLv80 {
      margin-bottom: $spacing-80;
   }
}
