@use "../global" as *;

/*===============================================
section
===============================================*/
.ly_sect {
   //marginTop
   &.__mtLv16 {
      margin-top: $spacing-16;
   }
   &.__mtLv24 {
      margin-top: $spacing-24;
   }
   &.__mtLv32 {
      margin-top: $spacing-32;
   }
   &.__mtLv40 {
      margin-top: $spacing-40;
   }
   &.__mtLv56 {
      margin-top: $spacing-56;
   }
   &.__mtLv64 {
      margin-top: $spacing-64;
   }
   &.__mtLv72 {
      margin-top: $spacing-72;
   }
   &.__mtLv80 {
      margin-top: $spacing-80;
   }
}
