@use "../global" as *;

@mixin form {
   /*===============================================
	form demo
	===============================================*/
   // inputの背景色
   $formInputBg: #f7f7f7;
   //placeholderの色
   $placeholderColor: rgba(17, 17, 17, 0.4);
   //inputの高さ
   $formInputHeight: $spacing-56;
   //ラジオ・チェックボタンの大きさ
   $radioSize: #{$spacing-24};
   $checkboxSize: #{$spacing-24};

   /*===============================================
	form_group
	===============================================*/
   .bl_form_group {
      &:not(:first-of-type) {
         margin-top: $spacing-24;

         @include mq(sm) {
            margin-top: $spacing-40;
         }
      }
      &.__flex {
         display: flex;
         align-items: center;

         @include mq(md) {
            display: block;
         }

         .bl_form_group_title {
            flex-shrink: 0;
            width: $spacing-26;

            @include mq(md) {
               width: 100%;
               margin-bottom: $spacing-8;
            }
         }
      }

      &.__block {
         display: block;

         .bl_form_group_title {
            margin-bottom: $spacing-16;

            @include mq(md) {
               margin-bottom: $spacing-8;
            }
         }
      }
   }

   .bl_form_group_title {
      display: block;
      position: relative;
      font-weight: bold;
      font-size: $fontsize-16;
      line-height: $leading-15;

      @include hover {
         + .bl_form_input_wrapper .bl_form_input {
            border: $border-2 solid $color-key;
         }
      }

      .__require {
         display: inline-block;
         margin-right: $spacing-8;
         padding: 0 $spacing-8;
         border-radius: $borderradius-2;
         background-color: $color-key;
         color: $color-wh;
         font-weight: bold;
         font-size: $fontsize-14;
         line-height: $spacing-24;
      }
   }

   /*===============================================
	form_input_wrapper
	===============================================*/
   .bl_form_input_wrapper {
      display: block;
      width: 100%;

      &.__flex {
         display: flex;
         align-items: flex-start;

         @include mq(sm) {
            justify-content: space-between;
         }
      }
   }

   /*===============================================
	form_input
	===============================================*/
   .bl_form_input {
      @include placeholder($placeholderColor);
      width: 100%;
      height: $formInputHeight;
      padding: 0 $spacing-24;
      overflow: hidden;
      border: $border-2 solid transparent;
      background-color: $formInputBg;
      font-size: $fontsize-16;
      line-height: $formInputHeight;
      vertical-align: middle;
      cursor: pointer;

      @include transition;
      transition-property: border-color;

      @include hover {
         border: $border-2 solid $color-key;
      }

      @include mq(sm) {
         padding: 0 $spacing-8;
      }

      &:focus {
         border: $border-2 solid $color-key;
         outline: 0;
      }

      &.__select {
         background-image: url("#{$path}/assets/images/element/icon/select.svg");
         background-position: calc(100% - $spacing-24) center;
         background-size: $spacing-14;
         background-repeat: no-repeat;

         @include mq(sm) {
            background-position: calc(100% - $spacing-8) center;
            background-size: $spacing-10;
         }
      }

      &.__textarea {
         height: $spacing-24;
         padding: $spacing-16 $spacing-24;
         line-height: $leading-16;
      }

      //インプット要素の幅を変える
      &_name {
         width: min(100%, $spacing-32);

         &:not(:last-child) {
            margin-right: $spacing-16;
         }
      }

      &_tel {
         width: min(100%, $spacing-32);
      }

      &_select {
         width: min(100%, $spacing-40);
      }
   }

   /*===============================================
	radio,
	checkbox
	===============================================*/
   .bl_form_input_radio_wrapper,
   .bl_form_input_check_wrapper {
      display: flex;

      input[type="radio"],
      input[type="checkbox"] {
         opacity: 0;
         position: absolute;
         left: 100vw;
         z-index: -9999;

         //キーボード操作の時のfocusを当てる
         &:focus-visible {
            + .wpcf7-list-item-label:after {
               background-color: rgba($color-key, 0.2);
            }
         }

         @include hover {
            + .wpcf7-list-item-label:after {
               background-color: rgba($color-key, 0.2);
            }
         }
      }

      .wpcf7-list-item {
         cursor: pointer;

         &:not(:last-of-type) {
            margin-right: $spacing-8;
         }
      }

      label {
         width: auto;
         margin-right: 0;
         margin-bottom: 0;
         line-height: 1;

         input[type="radio"]:checked + .wpcf7-list-item-label:before,
         input[type="checkbox"]:checked + .wpcf7-list-item-label:before {
            opacity: 1;
         }

         .wpcf7-list-item-label {
            display: inline-block;
            position: relative;
            width: 100%;
            padding: 0 $spacing-16 0 $spacing-40;
            border: $border-1 solid transparent;
            font-weight: bold;
            font-size: $fontsize-16;
         }

         .wpcf7-list-item-label:before,
         .wpcf7-list-item-label:after {
            @include transition;
            transition-property: background-color;

            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            content: "";
         }

         @include hover {
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
         }
      }
   }

   //ラジオボタン
   .bl_form_input_radio_wrapper .wpcf7-list-item-label {
      line-height: $radioSize;

      &:before {
         opacity: 0;
         left: $spacing-10;
         z-index: 1;
         width: $spacing-12;
         height: $spacing-12;
         margin-top: 0;
         border-radius: 50%;
         background-color: $color-key;
      }

      &:after {
         left: 0;
         z-index: 0;
         width: $radioSize;
         height: $radioSize;
         margin-top: 0;
         border: $border-1 solid $color-base;
         border-radius: 50%;
         background-color: $formInputBg;
      }
   }
   //チェックボタン
   .bl_form_input_check_wrapper .wpcf7-list-item-label {
      line-height: $checkboxSize;

      &::before {
         opacity: 0;
         left: $spacing-6;
         z-index: 1;
         width: $spacing-12;
         height: $spacing-12;
         margin-top: 0;
         border-radius: $borderradius-2;
         background-color: $color-key;
      }

      &:after {
         left: 0;
         z-index: 0;
         width: $checkboxSize;
         height: $checkboxSize;
         margin-top: 0;
         border: $border-1 solid $color-base;
         border-radius: $borderradius-2;
         background-color: $formInputBg;
      }
   }

   /*===============================================
	birthday
	===============================================*/
   .bl_form_input_birthday_block {
      width: 33.3333%;
      p {
         display: flex;
         justify-content: space-between;
         align-items: center;
      }
      .wpcf7-form-control-wrap {
         width: 100%;
      }

      &:not(:last-of-type) {
         padding-right: $spacing-24;

         @include mq(sm) {
            padding-right: $spacing-16;
         }
      }
   }
   .bl_form_input_birthday_txt {
      flex-shrink: 0;
      margin-left: $spacing-10;
      font-weight: bold;
      font-size: $fontsize-14;
      line-height: 1;

      @include mq(sm) {
         margin-left: $spacing-4;
         font-size: $fontsize-12;
      }
   }

   /*===============================================
	file
	===============================================*/
   .bl_form_input_file_wrapper {
      display: flex;
      align-items: center;
      position: relative;

      input[type="file"] {
         display: none;
      }

      button {
         @include transition;
         transition-property: background-color, color, border-color;

         display: inline-block;
         flex-shrink: 0;
         width: $spacing-24;
         border-radius: $formInputHeight;
         background-color: $color-key;
         color: $color-wh;
         font-weight: bold;
         font-size: $fontsize-14;
         line-height: $formInputHeight;
         text-align: center;
         border: $border-2 solid transparent;
         cursor: pointer;

         @include mq(sm) {
            width: $spacing-20;
         }

         &:focus-visible {
            background-color: $color-wh;
            color: $color-key;
            border: $border-2 solid $color-key;
         }

         @include hover {
            background-color: $color-wh;
            color: $color-key;
            border: $border-2 solid $color-key;
         }
      }
   }
   .bl_form_input_fileName {
      @include lineHeightCrop($leading-13);

      display: block;
      width: 100%;
      padding-left: $spacing-16;
      color: $color-base;
      font-size: $fontsize-12;
      font-weight: bold;
      line-height: $leading-13;

      @include mq(sm) {
         font-size: $fontsize-12;
      }

      pointer-events: none;

      &.is_fileset {
         color: red;
      }
   }

   /*===============================================
	submit
	===============================================*/
   .bl_submit {
      width: 100%;

      @include mq(sm) {
         width: 100%;
         margin-left: 0;
      }

      /*===============================================
		privacyt policy
		===============================================*/
      .bl_submit_pp {
         margin-top: $spacing-40;

         &_title {
            margin-bottom: $spacing-24;
            font-weight: bold;
            font-size: $fontsize-22;
            line-height: $leading-13;
            text-align: center;
         }

         &_cont {
            height: $spacing-24;
            padding: $spacing-24;
            overflow-y: auto;
            border: $border-1 solid $color-base;
            border-radius: $borderradius-8;
         }
         &_cont_textBlock {
            &:not(:first-of-type) {
               margin-top: $spacing-32;
            }
         }

         &_cont_title {
            margin-bottom: $spacing-8;
            font-weight: bold;
            font-size: $fontsize-16;
            line-height: $leading-13;
         }

         &_cont_text {
            font-size: $fontsize-16;
            line-height: $leading-15;
         }
      }

      /*===============================================
		privacy check
		===============================================*/
      //variables
      $buttonZoom: scale(1.1);
      $privacyCheckSize: $spacing-32;
      #is_ppCheck {
         display: none;
      }
      .bl_submit_ppCheckBtn {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: $spacing-24 0 $spacing-32;
         font-weight: bold;
         font-size: $fontsize-16;
         text-align: left;
         cursor: pointer;
         @include hover {
            label span {
               transform: $buttonZoom;
            }
         }
      }
      .bl_submit_ppCheckBtn label {
         display: inline-block;
         position: relative;
         width: $privacyCheckSize;
         height: $privacyCheckSize;
         margin-right: $spacing-16;
         text-align: center;
         cursor: pointer;

         span {
            display: inline-block;
            position: relative;
            width: 100%;
            height: 100%;
            border: $border-1 solid $color-base;
            border-radius: 50%;
            background-color: $formInputBg;
            vertical-align: middle;
            @include my-cubic-bezier01;
            @include transition;
            transition-property: transform;
            transform-origin: center;

            &:before {
               position: absolute;
               top: $spacing-15;
               left: $spacing-8;
               transform: rotate(45deg);
               width: 0;
               height: $spacing-2;
               background: $color-key;
               content: "";
               transform-origin: 0 0;
            }

            &:after {
               position: absolute;
               top: $spacing-22;
               left: $spacing-12;
               transform: rotate(305deg);
               width: 0;
               height: $spacing-2;
               background: $color-key;
               content: "";
               transform-origin: 0 0;
            }
         }

         &.is_checked span {
            transform: $buttonZoom;
            background-color: $color-key;
            border: $border-1 solid $color-key;

            &:after {
               width: $spacing-15;
               background: $color-wh;
               transition: width 0.15s ease 0.1s;
            }

            &:before {
               width: $spacing-8;
               background: $color-wh;
               transition: width 0.15s ease;
            }
         }
      }

      .bl_submit_ppCheck_txt {
         @include lineHeightCrop($leading-16);

         display: inline-block;
         line-height: $leading-16;

         a {
            display: inline;
            text-decoration: underline;
         }
      }

      /*===============================================
		submit btn
		===============================================*/
      .bl_submit_btn_wrapper {
         position: relative;

         .ajax-loader {
            position: absolute;
         }
      }
      .bl_submit_btn {
         @include transition;

         display: block;
         width: min(100%, $spacing-32);
         margin: 0 auto;
         border: $border-2 solid $color-key;
         background-color: $color-key;
         color: $color-wh;
         font-weight: bold;
         font-size: $fontsize-20;
         line-height: $spacing-80;
         text-align: center;
         outline: 0;
         cursor: pointer;
         transition-property: background-color, border, color;

         &:focus {
            outline: 0;
         }

         &:focus-visible {
            background-color: $color-wh;
            color: $color-key;
         }

         @include hover {
            background-color: $color-wh;
            color: $color-key;
         }
      }

      .bl_submit_btn[disabled] {
         border: $border-2 solid $formInputBg;
         background: none;
         background-color: $formInputBg;
         color: $placeholderColor;

         pointer-events: none;
      }
   }

   /*===============================================
	cf7 validation 
	===============================================*/
   .wpcf7-not-valid-tip {
      display: block;
      width: 100%;
      margin-top: $spacing-8 !important;
      padding: $spacing-5;
      border: $border-1 solid #e35b66 !important;
      border-radius: $borderradius-4;
      background-color: $color-wh;
      color: #cc3340;
      font-size: $fontsize-12 !important;
      line-height: $leading-13;
   }

   .wpcf7 form.invalid .wpcf7-response-output,
   .wpcf7 form.unaccepted .wpcf7-response-output {
      display: block;
      width: $spacing-56;
      max-width: 100%;
      margin: $spacing-16 auto 0;
      padding: $spacing-5;
      border: $border-1 solid #e35b66 !important;
      border-radius: $borderradius-4;
      background-color: $color-wh;
      color: #cc3340;
      font-size: $fontsize-12 !important;
      text-align: center;
   }

   //送信成功
   div.wpcf7-mail-sent-ok {
      background: #d5edda;
      color: #185626;
   }

   //送信NG
   div.wpcf7-validation-errors,
   div.wpcf7-acceptance-missing {
      border: $border-1 solid #cc3340;
      background: #f7d7da;
      color: #cc3340;
   }

   //送信失敗
   div.wpcf7-mail-sent-ng {
      border: $border-1 solid #cc3340;
      background: $color-wh;
      color: #cc3340;
   }

   //スパムなどで送信ブロックされた場合
   div.wpcf7-spam-blocked {
      border: $border-1 solid #feedbd;
      background: $color-wh;
      color: #846314;
   }

   .wpcf7-form-control-wrap.period {
      width: 100%;
   }

   .bl_submitBtn_wrapper {
      .ajax-loader {
         position: absolute;
      }

      .wpcf7-spinner {
         position: absolute;
         right: 0;
         bottom: -$spacing-32;
         left: 0;
         margin: auto;
      }
   }
}

.bl_form {
   margin: $spacing-120 0;
   @include form();
}
